<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="__PUBLIC__/css/login.css">
    <link rel="stylesheet" href="__PUBLIC__/js/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

</head>
<body>
<div class="main_right">
    <div class="title">
        <div class="title_left">
            <a href="#" class="navbar-brand">学生信息管理系统</a>
        </div>
    </div>
    <div class="content">
        <form method="post">
            <div class="form_input">
                <span class="title_text">修改密码</span>
            </div>
            <div class="form_input">
                <div class="input-group">
                    <span class="input-group-addon" >输入用户名</span>
                    <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" name="aname">
                </div>
            </div>
            <div class="form_input">
                <div class="input-group">
                    <span class="input-group-addon" >输入新密码</span>
                    <input type="text" class="form-control" placeholder="Password" aria-describedby="basic-addon1"  name="apwd">
                </div>
            </div>
            <div class="form_input">
                <div class="input-group">
                    <span class="input-group-addon" >注册时电话</span>
                    <input type="text" class="form-control" placeholder="Phone" aria-describedby="basic-addon1" name="aphone">
                </div>
            </div>
            <div class="form_input">
                <button type="submit" class="btn btn-primary">提交修改</button>
            </div>
            <div class="form_input_a">
                <div><a href="{:U('Index/login')}">返回登录页</a></div>
            </div>
        </form>
    </div>
    <br>
</div>
</body>
</html>